# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# Excel files
*.xlsx

# Misc
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

# Ignore any other files 
*old*.*
*progress*.*
*error*.*

